.App {
  font-family: 'Montserrat', sans-serif;
}
// body{
//   background: #FF3D3D;
//   width: 100vh
// }
.background-app{
  background: #FF3D3D;
  color: white;
  height: 100vh;
  @media screen and (min-width: 800px) {
      height: 300vh;
    }
  
}
.baker-login{
  position:fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  @media screen and(min-width:800px) {
    top: 15%;
    left: 50%;
  }
  &__val{
    width: 150px;
    height: 150px;
  }
}
.container-choice-user{
  // background: #FF3D3D;
  background: linear-gradient(150deg,#FF3D3D,  #fd4848,#ffc1c1);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  &--active-client{
    display: none;
  }
}
.logo-restaurant{
  text-align: center;
  color: #FF3D3D;
  // background: #FF3D3D;
  

}
.login{
  // color: #707070;
  font-family: 'Montserrat', sans-serif;
  &__text{
    text-align: center;
    padding: 20px 0px;

    @media screen and (min-width: 800px) {
      font-size: 40px;
      
    }

  }
&--center{
  text-align: center;
  padding-bottom: 10px;
}
  &__input-items{
    padding: 10px 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__input{
    border-radius: 10px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    outline: none;
    margin: 6px;
    padding: 8px 0px 8px 8px;
    width: 100%;
  }
  &__btn-login{
    background: white;
    border: 2px solid #FF3D3D;
    border-radius: 10px;
    color: #FF3D3D;
    // transition: all 0.5s ease-in;
    margin: 10px 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0px 10px;
    &--active{
      background: #FF3D3D;
      color: white;
    }
  }

  &__btn-register{
    color: #FF3D3D;
    font-weight: 600;
    padding-left: 2px;
    cursor: pointer;
  }
  &__btn-none-account{
    color: #FF3D3D;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    @media screen and(min-width:800px) {
      font-size: 20px;
    }
  }
  &--info{
    text-align: center;
  }
  &--hidden{
    // visibility: hidden;
    display: none;
  }

}
.register{
  border-radius: 10px;
  // background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            // linear-gradient(127deg, rgba(212, 40, 40, 0.8), rgba(0,255,0,0) 70.71%),
            // linear-gradient(336deg, rgba(221, 26, 26, 0.8), rgba(0,0,255,0) 70.71%);
  &__back{
    color: white;
    height: 50px;
    width: 50px;
    background: #fd4f4f;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    margin-left: -10px;
  }
  &__text{
    text-align: center;
  }
  &__info{
    margin: 6px 0px;
    text-align: center;
  }
  &__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__input{
    border-radius: 10px;
    border: none;
    
    outline: none;
    margin: 6px;
    padding: 8px 0px 8px 8px;
    width: 100%;
    // background: #e95353;
    &:focus{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }
  &__btn-register{
    background: white;
    border: 2px solid #FF3D3D;
    border-radius: 10px;
    color: #FF3D3D;
    // transition: all 0.5s ease-in;
    margin: 10px 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0px 10px;
  }
}
.user-panel{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  // background: white;
  background: rgba(255, 255, 255, 0.973);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user-choice{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
  padding-bottom: 10px;
  &__admin{
    text-align: center;
    color: #FF3D3D;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    
    padding: 6px;
    border-radius: 10px;
    &:active{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      animation: gradient ease-in 100ms;
    }
  }
  &__client{
    text-align: center;
    color: #FF3D3D;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 6px;
    border-radius: 10px;
    &:active{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      animation: gradient ease-in 200ms;
    }
  }
}
.login-page{
  background: #FF3D3D;
  height: 100vh;
  &--no-active{
    display: none;
  }
}
.login-container{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
  background: #fd4f4f;
}
.login-center{
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
.input-login{
  border: none;
  background: #FF3D3D;
  border-radius: 10px;
  padding: 6px 0px 6px 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: white;
  &:focus{
    box-shadow: rgba(176, 17, 17, 0.74) 0px 2px 5px -1px, rgba(189, 0, 0, 0.92) 0px 1px 3px -1px;
    transition: box-shadow 0.3s ease-in-out;
  }
}
.container-button-login{
  text-align: center;
}
.header-container-login{
  display: flex;
  padding-top:20px ;
}
.button-back-login{
  border: none;
  background: #fd4f4f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.login-text{
  color: white;
  font-weight: 600;
  &--head{
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-left: 8px;
  }
  &--forgot-password{
    color: white;
    font-weight: 500;
    // font-size: 26px;
  }
}
.button-login{
  background: #FF3D3D;
  border: none;
  padding: 4px 30px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
}
.welcome-user{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  &__text{
    text-align: center;
    font-size: 30px;
  }
}
.panel-admin{
  background: #ff3d3d;
  height: 100vh;
  @media screen and (min-width: 800px) {
    height: 350vh;
  }
}
.header-panel-admin{
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  &--text{
    font-weight: 300 ;
  }
  @media screen and (min-width: 800px) {
    font-size: 35px;
  }
}
// .red-board{
//   background: #ff3d3d;
//   border-radius: 10px;
//   color: white;
//   height: 120px;
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
//   &__text{
//     text-align: center;
//   }
//   &__direction{
//     display: flex;
//     flex-direction: row;
//   }
//   &__number{
//     font-size: 34px;
//     position:absolute;
//     left: 50%;
//     transform: translate(-50%,50%);
//     font-weight: 600;
//   }
//   &__ball-items{
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     left: 90%;
//     top: 20%;
//     transform: translate(-45%, -90%);
//   }
//   &__ball{
//     // background: white;
//     height: 10px;
//     width: 10px;
//     margin: 2px 0px;
//     border: 1px solid white;
//     border-radius: 50%;
//   }
// }
.statistics-center{
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.statistics-board{
  background: #ffffff;
  border-radius: 12px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x:scroll;
  scrollbar-width: thin;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background: #ffffff;
  box-shadow: inset 3px 3px 10px #adadad,
              inset -3px -3px 10px #d6d6d6;
  &__column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 0px;
  }
  &__text{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 4px;
  }
  &__value{
    font-weight: 600;
    font-size: 16px;
  }
  &__direction{
    padding: 5px 8px;
    width: 100%;
  }
  &__header{
    padding-bottom: 8px;
  }
  &__circle{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    // background: #e9e9e9;
    background: #ffffff;
    // border: 3px solid #fb3c3c;
    box-shadow: rgba(180, 45, 45, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius:50% ;
    font-size: 45px;
    color: #707070;
    font-weight: 300;
    &--price{
      font-size: 22px;
      height: 120px;
      width: 120px;

    }
  }
  &__item{
    // background: wheat;
    // width: 100%;
    display: flex;
    &--center{
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    width: 100%;
    // padding: 0px 20px;
  }
  &__ball{
  }
}
html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
.text-for-processes{
  // animation: order-height 1s ease-in;
  color: red;
  text-align: center;
  padding-bottom: 30px;
}
.logout-for-admin{
  font-size: 30px;
}
.order{
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  border-bottom: 2px solid #eaeaea;
  padding: 0px 0px 8px 0px;
  animation: order-height 0.5s ease-in;
  // &__change-status{
  //   background: #c9c8c848;
  //   filter: blur(2px);
  // }

  &__picture{
    // border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    // height: 70px;
    padding:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 800px) {
  
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
  }
  &__elements{
    color: black;
    
    &--title{
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      
    }
    &--info{
      font-weight: 300;
    }
    &--header{
      text-align: right;
      font-weight: 600;
    }
    &--blur{
      filter: blur(4px);
    }
  }
  &--center{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 800px) {
    justify-content: left;
    }
  }
  &--blur{
    filter: blur(4px);
  }
}
.image-admin{
  width: 90px;
  height: 90px;
  @media screen and (min-width: 800px) {
    width: 120px;
    height: 120px;
  }
}
.status{
  cursor: pointer;
  &__position{
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: black;    

  }
  &--adopted{
    color: #0011a8;
    background: #5a67d6;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
  }
  &--progress{
    color: #777502;
    background: #f0ed5f;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
  }
  &--prepared{
    color: #83063a;
    background: #f0619c;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
  }
  &--delivery{
    color: #7e3000;
    background: #fa7e30;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
  }
  &--done{
    color: #1f5a0d;
    background: #81ca6a;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
  }
  &--nodone{
    color: #ff3d3d;
  }
  &--preparing{
    color: rgb(55, 55, 219);
  }
  // &--done{
  //   color: #2EAB09;
  // }
}
.button-status{
  position: relative;
  z-index: 1;
  cursor:pointer;
  &--nodone{

  }
  &--preparing{
    position: relative;
    z-index: 1;
    cursor:pointer;
    color: rgb(55, 55, 219);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgb(55, 55, 219);
    border-radius: 10px;
    padding: 2px;

  }
  &--done{
    position: relative;
    z-index: 1;
    cursor:pointer;
    color: #2EAB09;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #2EAB09;
    border-radius: 10px;
    padding: 2px;
  }
}
.testowanie{
  text-decoration: none;
  color: unset;
  // opacity: 0;
  width: 100%;
  height: 100%;
}
.status-options{
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
  background: #e9e9e9;
  border-radius: 12px;
  // border: 1px solid black;
  padding: 8px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &--N{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #0011a8;
    background: #5a67d6;
    font-weight: 600;
    transition: border-radius 0.2s;
    &:focus{
      border-radius: 50%;
      transition: border-radius 0.2s;
    }
  }
  &--R{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #777502;
    background: #f0ed5f;
    font-weight: 600;
    transition: border-radius 0.2s;
    &:focus{
      border-radius: 50%;
      transition: border-radius 0.2s;
    }
  }
  &--P{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #83063a;
    background: #f0619c;
    font-weight: 600;
    transition: border-radius 0.2s;
    &:focus{
      border-radius: 50%;
      transition: border-radius 0.2s;
    }

  }
  &--D{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #7e3000;
    background: #fa7e30;
    font-weight: 600;
    transition: border-radius 0.2s;
    &:focus{
      border-radius: 50%;
      transition: border-radius 0.2s;
    }
  }
  &--Z{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #1f5a0d;
    background: #81ca6a;
    font-weight: 600;
        transition: border-radius 0.2s;
    &:focus{
      border-radius: 50%;
      transition: border-radius 0.2s;
    }
  }
}
.icon-touch{  
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse-animation infinite 2s;
  // border: 1px solid white ;
  border-radius: 30px;
  padding:6px ;
  }
.home{
  margin-top: 90px;
  background-color: white;
  z-index: 1;
  width: 100%;
  // height: 100vh;
  position: absolute;
  border-top-left-radius:30px ;
  border-top-right-radius:30px ;
  color: #707070;
  // -webkit-box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.62);
  // -moz-box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.62);
  // box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.62);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @media screen and (min-width: 800px) { /* jeśli szerokość jest większa od 800px */
    width: 80%;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%);
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    }
  // &__dark{
  //   opacity: 0.3;
  //   margin-top: 90px;
  //   background-color: white;
  //   z-index: 1;
  //   width: 100%;
  //   position: absolute;
  //   border-top-left-radius:30px ;
  //   border-top-right-radius:30px ;
  //   color: #707070;
  //   // -webkit-box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.62);
  //   // -moz-box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.62);
  //   // box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.62);
  //   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  //   transition: opacity 0.5s ease;

  // }
}
.opacity-container{
  opacity: 0.1;
  transition: opacity 0.2s ease-in;
  &__none{
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}
.baker{
  width: 70px;
  height: 80px;
  @media screen and (min-width: 800px) {
    width: 100px;
    height: 110px;
  }
}
.logo{
  position: absolute;
  top: 2%;
  left: 10%;
  font-size: 40px;
  font-family: 'MonteCarlo', cursive;
  color: white;
  @media screen and (min-width: 800px) { /* jeśli szerokość jest większa od 800px */
    position: absolute;
    top: 0%;
    left: 20%;
    font-size: 80px;
    // transform: translate(-50%);
    
    }
}
.profile-box{
  position: absolute;
  top: 2%;
  left: 80%;
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  background: #ff3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  color: #f1ebeb;
  font-weight: 700;
  cursor: pointer;
  flex-direction: column;
  transition: all;
  @media screen and (min-width: 800px) { /* jeśli szerokość jest większa od 800px */
    position: absolute;
    // width: 90%;
    left: 78%;
    top: 4%;
    // transform: translate(-50%);
    }
&--column-profile{
  height: 230px;
  justify-content: space-around;
  animation: profile-height 0.5s;
  border: 1px solid rgba(192, 15, 15, 0.541);
  box-shadow: rgba(240, 46, 56, 0.4) 5px 5px, rgba(240, 46, 78, 0.3) 10px 10px, rgba(240, 46, 104, 0.2) 15px 15px, rgba(240, 46, 104, 0.1) 20px 20px, rgba(240, 46, 88, 0.05) 25px 25px;
}

&__content{
  position: absolute;
  top: 1%;
  left: 5%;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 12px;
  // background: #f04e4e;
  background: #fb3c3c;
  box-shadow: inset 5px 5px 4px #d14444,
              inset -5px -5px 4px #ff5858;
  height: 90px;
  z-index: 5;
  width: 90%;
  animation: show-settings 1s ;
  &--text{
    color: white;
    margin-top: 4px;
    font-weight: 700;
    
  }
}
&__notification{
  position: absolute;
  top: 4%;
  right: 23%;
  border-radius: 50%;
  background: #ff3d3d;
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (min-width: 800px) { /* jeśli szerokość jest większa od 800px */
    position: absolute;
    top: 5%;
    right: 25%;
    // transform: translate(-50%);
    }
}
&__notification-content{
  position: fixed;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  height: 250px;
  padding-bottom: 20px;
  width: 90%;
  top: 19%;
  color: #707070;
  // background: rgb(153, 141, 143);
  // background: linear-gradient(#f7f7f7 30%, #fb4c4c 90%);
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  // overflow-y: scroll;
  @media screen and (min-width: 800px) { /* jeśli szerokość jest większa od 800px */
    width: 70%;
    scrollbar-width: thin;
    height: 300px;
    top: 20%;
    }
}
&__blik{
  position: fixed;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 2;
  // height: 80px;
  padding-bottom: 20px;
  width: 90%;
  top: 15%;
  color: black;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  // display: flex;
  // flex-direction: row;
  padding: 10px 0px;
  animation: notify 1s ease;
  @media screen and (min-width: 800px) {
      width: 50%;
  }
  &--center{
    padding: 4px 0px;
    display: flex;
    justify-content: center;
  }
  &--back{
    color: #fd4f4f;
    font-weight: 600;
    display: flex;
    justify-content: right;
    padding: 0px 15px;
    margin-bottom: 6px;
    cursor: pointer;
  }
  &--timer{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-weight: 600;
  }
  &--text{
    text-align: center;
  }
}
&__counter{
  position: absolute;
  top: 7%;
  right: 24%;
  // border: 1px solid white;
  border-radius: 50%;
  padding: 4px;
  font-size: 14px;
  height: 20px;
  width: 20px;
  background: white;
  color: #fd4f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  &--text{
    color: #fd4f4f;
    font-weight: 600;
    font-size: 20px;
  }
  &--none{
    margin-top: 8px;
    text-align: center;
    color: #fd4f4f;
    font-weight: 300;
  }
  &--back{
    text-align: center;
    color: #fd4f4f;
    font-weight: 700;
    cursor: pointer;
    @media screen and (min-width: 800px) {
      display: flex;
      justify-content: right;
      font-size: 20px;
    }
  }
}
&__reset-btn{
  display: flex;
  justify-content: center;
  color:#fd4f4f;
  background: white;
  border: 2px solid #fd4f4f;
  border-radius: 12px;
  padding: 4px 8px;
  margin: 6px 0px;
  align-items: center;
  &--center{
    display: flex;
    justify-content: center;
  }
}
}
.user-notify{
  overflow-y: scroll;
  scrollbar-width: thin;
  background: #f2f2f2;
  border-radius: 12px;
  margin-top: 20px;
  @media screen and (min-width: 800px) {
    height: 200px;
  }
}
.images-pizza{
  width: 100%;
  display: flex;
  justify-content: center;
  &__item{
    width: 180px;
    height: 150px;
  }
}
.search{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #70707036 ;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  transition: box-shadow 0.1s ease-out;
  @media screen and (min-width: 800px) {
    margin-top: 75px;
  }
  &--active{
    transition: box-shadow 0.1s ease-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}
.search>input{
  width: 100%;
  padding:8px 10px 8px 10px ;
  margin:0px 15px ;
  // border: 2px solid #707070 ;
  border: none;
  // border-radius: 12px;
  outline: none;
  text-decoration: none;
  
}
.fa-search{
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.header-menu{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  font-size: 26px;
  justify-content: space-between;
  @media screen and (min-width: 800px) {
    margin: 40px 0px;
}
  &__text{
    font-weight:bold ;
    display: flex;
    align-items: center;
  }
  &__toggle{
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    height: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    margin: 10px 0px;
    
    &--item{

      display: flex;
      justify-content: center;
      // border: 2px solid #707070;
      border-radius: 50%;
      width: 50%;
      height: 100%;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      @media screen and (min-width: 800px) {
        width: 50%;
    }
    }
  }
  &__toggle-vege{
    display: flex;
    justify-content: flex-end;
    border-radius: 50px;
    height: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    margin: 10px 0px;
    
    &--item{
      display: flex;
      justify-content: center;
      // border: 2px solid #707070;
      border-radius: 50%;
      width: 50%;
      height: 100%;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      @media screen and (min-width: 800px) {
        width: 50%
      }

    }
  }
}
.btn-all-foods{
  background: white;
  border: 2px solid #FF3D3D;
  border-radius: 10px;
  color: #FF3D3D;
  transition: all 0.5s ease-in;
  margin: 10px 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  &--active{
    background: #FF3D3D;
    color: white;
  }
}
.disabled{
  opacity: 0.5;
}
.controls-meals{
  display: flex;
  justify-content: row;
}
.control-drinks{
  display: flex;
  flex-direction: row;
  height: 30%;
  // width: 100%;
}
.text-pizza{
  padding-left: 2px;
  font-weight: 400;
  font-size:18px;
  padding-bottom: 10px;
}
.meal-list{
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  // transition: all ease-in 1s;
  &__item{
    height: 280px;
    // border: 1px solid #707070;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #7070702a;
    border-radius: 10px;
    margin: 0px 10px 20px 10px;
    // width: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    
    transition: ease-in-out 0.1s all;
    @media screen and (min-width: 800px) {
      margin: 0px 40px 40px 20px;
    }
&--active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: ease-in-out 0.1s box-shadow;
}
  }
  &__element{
    display: flex;
    flex-direction: row;
    visibility: visible;
    
    &--column{
      flex-direction: column;
      margin-top: 6px;
      margin-left: 6px;
      font-size: 12px;
      color: black;
      font-weight: 600;
    }
    &--no-visibility{
      visibility: hidden;
      
    }
  }
  &--drinks{
    height: 160px;
    display: flex;
    flex-direction: column;
    // padding-left:20px ;
    // padding-right:20px ;
  }
  &__text-drinks{
    padding-left: 4px;
  }
  &__counter{
    display: flex;
    justify-content: space-between;
    background: #ff8585;
    border-radius: 10px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // border-radius: 10px;
  }
}
.icons-app{
  height: 24px;
  width: 24px;
  &__big{
    height: 32px;
    width: 32px;
    font-size: 32px;
    text-align: center;
  }
  &__drink{
    height: 48px;
    width: 48px;
    // display: flex;
    // justify-content: center;
    text-align: center;
  }
  &__delivery{
    height: 64px;
    width: 64px;
    position: absolute;
    left: 30%;
    animation: ride 2s;
    @media screen and (min-width: 800px) {
      height: 84px;
      width: 84px;
    }
  }
}
.icons-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-counter{
  border: none;
  color: black;
  background: #FF3D3D;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 3px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  &--left{
    background: white;
    border-radius: 50%;
    
    margin: 3px 0px 3px 4px;
    width: 16px;
    height: 16px;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  &--right{
    background: white;
    border-radius: 50%;
    margin: 3px 4px 3px 0px;
    width: 16px;
    height: 16px;
    -webkit-border-radius:50%;
    -moz-border-radius: 50%;
  }
  &--zero{
    visibility: hidden;
    margin: 3px 4px 3px 0px;
    width: 16px;
    height: 16px;
  }
}
.check-container{
  margin-top: 6px;
  margin-right: 3px;
  display: flex;
  justify-content: flex-end;
  &--big{
    padding-right: 10px;
  }
  &--search{
   margin:0px;
   display: flex; 
   justify-content: center;
   align-items: center;
  }
}
.checked{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__drink{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &--active{
    border: 2px solid #2EAB09;
    color: #2EAB09;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    // transition: all 0.2s ease-in;
  }
  &--no-active{
    border: 2px solid #7070704d;
    color: #7070704d;
    transition: all 0.2s ease-in;
  }

}
.info-section-wrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  text-align: start;
}
.more-information{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #70707087;
  padding: 8px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #7070702a;
  margin-bottom: 80px;
  cursor: pointer;
  &--search-item{
    margin-bottom: 0px;
  }
}
.ribbon-wrapper{
  display: flex;
  justify-content: flex-end;
}
.ribbon{
  display: flex;
  justify-content: center;
  background: #FF3D3D;
  margin-bottom: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  &__text{
    color: white;
    font-size: 14px;
    padding: 1px;
  }
  &--drink{
    margin-top: 10px;
    font-size: 10px;
  }
}
.description-wrapper{
  background: white;
  // height: 400px;
  width: 80%;
  border-radius: 10px;
  position:fixed;
  // top: 20%;
  left: 50%;
  transform: translate(-50%,-70%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px;
  @media screen and (min-width: 800px) {
    width: 50%;
  
  }

}
.wrapper-header-description{
  display: flex;
  &__back{
    color: #ff3d3d;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  &__name{
    font-size: 25px;
  }
  &__photo{
    // border: 1px solid gray;
    // padding: 60px 0px;
    border-radius: 12px;
    text-align: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 20px 0px;
    @media screen and (min-width: 800px) {
      padding: 30px 0px;
      margin: 40px 0px;
    }
  }

}
.drink-counter{
  display: flex;
  justify-content: space-between;
  background: #ff8585;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  &__button{
    border: none;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    &--right{
      border-radius: 50%;
      margin: 3px 4px 3px 0px;
      width: 16px;
      height: 16px;
      -webkit-border-radius:50%;
      -moz-border-radius: 50%;
    }
    &--left{
      background: white;
      border-radius: 50%;
      margin: 3px 0px 3px 4px;
      width: 16px;
      height: 16px;
      -webkit-border-radius:50%;
      -moz-border-radius: 50%;
    }
    &--zero{
      visibility: hidden;
      margin: 3px 0px 3px 4px;
      width: 16px;
      height: 16px;
    }

  }
}
.checked-icon-drinks{
  font-size: 10px;
}
.header{
  font-size: 26px;
  font-weight:bold;
  margin: 20px 0px;
  @media screen and (min-width: 800px) {
    margin: 40px 0px;
    }
  &--form{
    font-size: 16px;
    font-weight:bold;
    margin: 20px 0px 0px 0px;
  }
  &--payments{
    text-align: left;
    color: black;
    font-weight: 600;
    margin: 14px 0px;
    @media screen and (min-width: 800px) {
      margin: 40px 0px;
      font-size: 30px;
      
    }
  }
  &--blik{
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 5px 0px 0px 0px;
  }
  &--summary{
    text-align: left;
    color: black;
    font-weight: 600;
    margin: 10px 0px;
    @media screen and (min-width: 800px) {
      margin: 40px 0px;
      font-size: 30px;
      
    }
  }
}
.place{
  display: flex;
  flex-direction: row;
  text-align: center;
  background: #ff3d3d;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  // transition: ease-in 0.2s all;

  &__center{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__active{
    background: white ;
    border-radius: 10px;
    padding: 4px;
    color: black;
    font-weight: 600; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background ease-in 0.2s; 
    display: flex;
    flex-direction: column;
  }
  &--none-active{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    transition: background ease-in 0.2s;
    display: flex;
    flex-direction: column;
  }
}
.active-place{
  background: white ;
  border-radius: 10px;
  padding: 4px;
  // transition: ease-in 0.2s all;
}
.form-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-form{
  margin: 20px 0px;
  padding: 0px 10px;

  &__visibility{
    opacity: 0.2;
    filter: blur(3px);

  }
  &__item{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #707070;
    padding: 8px 8px 4px 6px;
    @media screen and (min-width: 800px) {
      margin: 6px 0px;
    }
    &--date{
      // border: 2px solid #707070; 
      // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border: 1px solid #70707036 ;
      // border: none;
      border-radius: 10px;
      padding: 4px;
      margin: 10px 0px 5px 0px;
      color: #707070;
      outline: none;
      text-align: center;
      &:focus{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        
      }
    }
  }
}
.save-form{
  position: absolute;
  text-align: center;
  background: rgb(255, 255, 255);
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  backdrop-filter: blur(123px);
  width: 100%;
  padding: 20px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  // color: black;
}
.cancel-save{
  border-top: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
  // padding-top: 10px;
}
.form-input-date{
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
  @media screen and (min-width: 800px) {
    justify-content: space-evenly;
    margin: 40px 0px;
  }
  &__item{
    text-align: center;
    &--text{
      font-size: 10px;
    }
  }
} 
.form-info{
  text-align: center;
  font-size: 18px;
  margin: 5px 0px;
  color: black;
  @media screen and (min-width: 800px) {
    margin: 15px 0px;
  }
  &--reservation{
    font-weight: 500;
    font-style:normal;
    text-align: center;
    // color: black;
  }
}
.none-ad{
  display: none;
  @media screen and (min-width: 800px) {
    display: block;
  }
}
.advertisement{
    height: 180px;
    background: #FF3D3D;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    // overflow-y: scroll;
    @media screen and (min-width: 800px) {
      height: 260px;
    }
    &__image{
      height: 100%;
      width: 100%;
      border-radius: 12px;
      filter: brightness(70%);
      &:hover{
        filter: brightness(100%);
      }
    }
    &__text{
      background: #FF3D3D;
      margin-top: -60px;
      position: absolute;
      width: 80%;
      border-bottom-right-radius: 12px;
      border-top-right-radius: 12px;
      color: white;
      text-align: center;
      font-size: 14px;
      opacity: 0.9;
      @media screen and (min-width: 800px) {
        width: 70%;
      }
      &--right{
        display: flex;
        justify-content: right;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;

      }
      @media screen and (min-width: 800px) {
        height: 50px;
        width: 30%;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__center{
      display: flex;
      justify-content: space-evenly;
      // overflow-y: scroll;
      margin-top: 20px;
    }
}
.your-order{
  position: sticky;
  bottom: 0;
  background: #FF3D3D;
  text-align: center;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.60) 5px 0px 15px;
  cursor: pointer;
  height: 70px;
  transition: all 0.7s ease-in;
  @media screen and (min-width: 800px) {
    width: 90%;
    margin-left: 46px;
    margin-right: -20px;
  }
  &__text{
    font-size: 18px;
    margin-top: -20px;
  }
  &--full-screen{
    height: 85vh;
    overflow-y: scroll;
    // margin-top: 50px;
    transition: all 0.7s ease-in;
    @media screen and (min-width: 800px) {
      scrollbar-width: thin;

    }
  }
}
.bar{
  height: 40px;
  width: 4px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  transform:rotate(90deg) ;
  background-color: white;
  border-radius: 99px;
  margin-bottom: 8px;
}
.order-summary{

  background: rgb(255, 255, 255);
  color: #707070;
  border-radius: 10px;
  margin-top:10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__text{
    color: black;
    font-weight: 500;
    font-size: 21px;
    padding: 10px 0px;
  }
  &__list{
    font-size: 17px;
    font-weight: 400;
  }
  &__list-item{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    // margin: 0px 0px;
    padding: 4px 15px;
  }
  &__client-info{
    display: flex;
    padding: 4px 15px;
    @media screen and (min-width: 800px) {
      padding: 8px 15px;

    }
  }
  &--last{
    padding-bottom: 20px;
  }
  
}
.center-container{
  @media screen and (min-width: 800px) {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.item-order-name{
 text-align: left;
}
.item-order-cost{
text-align: right;
&--total{
  font-weight: 600;
}
}
.divider{
  border-bottom: 1px solid #707070;
  margin: 0px 15px;
}
.payments{
  display: flex;
  flex-direction: row;
  text-align: center;
  background: white;
  color: black;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__active{
    background: #FF3D3D;
    border-radius: 10px;
    padding: 4px;
    color: black;
    font-weight: 600; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background ease-in 0.2s; 
  }
  &--none-active{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    transition: background ease-in 0.2s;
  }
}
// .payments-no-visibility{
//   display: none;
// }
.blik{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  margin: 10px 0px;
}
.code-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 10px 0px;
  
}
.blik-container{
  // background: white;
  background: #FF3D3D;
  height: 60px;
  margin:2px;
  padding: 4px;
  margin: 10px;
  border-radius:10px ;
  cursor: pointer;
  //
  border-radius: 6px;
  background: #ff3d3d;
  box-shadow: inset 2px 2px 5px #b72e2e, inset -2px -2px 5px #f44;
  
  &:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}
.blik-input{
  width: 100%;
  height: 90%;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  outline: none;
  font-size:24px;
  color: black;
  cursor: pointer;
  background: #ff3d3d00;
}
.button-container{
margin-bottom: 20px;
&--center{
  display: flex;
  justify-content: center;
}
}
.method-at-location{

  margin: 20px 0px 40px 0px;
  display: flex;
  justify-content: center;
  &__box{
    background: #ff6565;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 0px;
  }
  &__text{
    color: black;
    padding: 4px 2px;
    padding-bottom: 10px;
    &--header{
      font-size: 21px;
    }
  }
}
.action-button{
  background: white;
  border: none;
  border-radius: 10px;
  padding: 6px 50px;
  font-size: 18px;
  color: #FF3D3D;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  &--revert{
    background: #ff3d3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &:active{
    animation: gradient ease-in 100ms;
    background: #f88;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  &__disabled{
    pointer-events: none;
    opacity: 0.5;
  }
}
.button-generate-code{
  background: white;
  border: none;
  border-radius: 50%;
  margin: 8px 8px 0px 0px ;

  color: #FF3D3D;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active{
    animation: gradient ease-in 100ms;
    background: #f88;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
.btn-blik-show{
  background: rgb(255, 255, 255);
  
}
.generate-code-container{
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0px 10px;
  color: black;
  animation: all 1s,
}
.popup-blik-code{
  background:#FF3D3D;

  border-radius: 10px ;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; #ff5555
  
  border-radius: 10px;
  background: #ff3d3d;
  box-shadow: inset 3px 3px 5px #9c2525, inset -3px -3px 5px #fd4f4f;
  color: black;
  animation: show-popup 0.2s;


}
.timer-value{
  text-align: right;
  margin: 8px 0px 0px 12px;
  padding: 12px ;
  font-size: 14px;
  // border: 2px solid black;
  // border-radius: 163px;
  background: linear-gradient(145deg, #ff4141, #e63737);
  box-shadow:  3px 3px 5px #8c2222,
               -3px -3px 5px #ff5858;

  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: black;
}
.container-timer-value{
  display: flex;
  justify-content: center;
}
.containter-blik{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blik-icon{
  padding: 4px;
  border-radius: 6px;
  // margin: 8px 12px 8px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #ff3d3d;
  box-shadow:  2px 2px 6px #912323,
               -2px -2px 6px #fc3030;
  font-size: 12px;
  font-weight: bold;
  // transition: visibility 1s ease-in;
  &--index{
    z-index: 1;
    position: relative;
  }
  &--disable{
    pointer-events: none;
    opacity: 0.5;
    padding: 4px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #ff3d3d;
    box-shadow:  2px 2px 6px #912323,
                 -2px -2px 6px #fc3030;
    font-size: 12px;
    font-weight: bold;
  }
  &--hidden{
    visibility: hidden;
    padding: 4px;
    border-radius: 6px;
    margin: 8px 12px 8px 0px;
    // transition: visibility 1s ease-in;
  }

}
.blik-text{
  font-weight: 600;
  display:flex;
  animation: display ease-in 1s;
}
.blik-box{
  display: flex;
  justify-content: right;
}
.visibility-box{
  visibility: none;
  animation: all ease-in 1s;
  &__none{
    display: none;
    animation: all ease-in 1s;
  }
}
.container-your-order-summary{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius:10px;
}
.bottom-order-summary{
  background: #ffffff34;
  color: #707070;
  border-radius: 10px;
  color: black;
  margin-top: -20px;
  padding-top: 20px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.top-order-summary{
  background: #ff3d3d;
  color: black;
  border-radius: 10px;
  position:relative;
  z-index: 1;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.search-items-container{
  margin-top:10px;
  display: flex;
  flex-direction: column;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: absolute;
  // z-index:1;
  width: 100%;
  background: white;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
.items-search{
  display: flex;
  flex-direction: row;
  margin: 4px 0px;
  @media screen and (min-width: 800px) {
    margin: 12px 0px;
  }
  &__image{
    padding: 2px;
    border: 1px solid #7070702a;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // width: 100%;
    width: 80px;
    height: 60px;
    border-radius: 10px;
    @media screen and (min-width: 800px) {
      height: 100px;
    }
  }
  &__name{
    padding: 10px 0px;
    display: flex;

    align-items: center;
    font-weight: 600;
    text-align: left;
  }
  &--center{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.space-top{
  margin-top: 8px !important;
}
.search-more-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box{
  display: flex;
  flex-direction: column;
  // border: 1px solid #7070702a;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgb(192, 192, 192) 2px 2px 5px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 5px 1px inset;
  border-radius: 10px;
  margin: 6px 0px;
}
.search-info-description{
  text-align: center;
  padding: 0px 8px;
  &__text{
    border-top: 1px solid #7070702a;
  }
}
.delivery-time-container{
  // border: 1px solid #707070;
  border-radius:10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 10px;
  height: 200px;
  &__title{
    text-align: center;
    font-weight: 600;
    @media screen and (min-width: 800px) {
      font-size: 20px;
  }
  }
  &__content{
    display: flex;
    justify-content: row;
  }
  &__left{
    display: flex;
    align-items: center;
    height: 150px;
  }
  &__center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.delivery-time-text{
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 800px) {
      padding: 0;
      font-size: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}
.no-payments{
  color: black;
  font-size: 18px;
  @media screen and (min-width: 800px) {
    
    font-size: 20px;
  }
}
.summary{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background: white;
  // background: linear-gradient(309deg, #64c2f6 0%, rgb(231, 123, 68) 0%, rgb(226, 61, 78) 100%);
  background: #ff3d3d;
  color: white;

  width: 300px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  flex-direction: column;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // linear-gradient(309deg, #64c2f6 0%, rgba(242, 82, 2, 0.644) 0%, rgba(224, 20, 40, 0.788) 100%)
  @media screen and (min-width:800px) {
    top: 20%;
    left: 50%;
    width: 450px;
    height: 20%;
  }
  &__close{
    display: flex;
    justify-content: center;
    // padding-right: 20px;
    font-weight: 700;
    background: white;
    color: #ff4141;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
    // width: 100%;
    cursor: pointer;
  }
  &__header{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    // color: ;
  }
  &__text{
    text-align: left;
    text-align: center;
    font-size: 16px;
    @media screen and (min-width:800px) {
      padding: 6px;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 0px ;
  }
}
.history-orders{
  position: absolute;
  z-index: 5;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  border-radius: 12px;
  padding: 8px 8px;
  color: #707070;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // opacity: 1;
  height: 350px;
  animation: heightHistory 0.5s ease-in-out;
  overflow-y:scroll ;
  @media screen and (min-width: 800px) {
    margin: 15px 0px;
    width: 60%;
    scrollbar-width: thin;
    height: 350px;
  }

  &__item{
    border-bottom: 1px solid #707070;
    
  }
  &__header{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  &__details{
    &--date{
      display: flex;
      justify-content: right;
      color: #707070;
      font-weight: 700;
    }
  }
  &__button{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    &--item{
      color: #FF3D3D;
      border: 2px solid #FF3D3D;
      border-radius: 12px;
      background: white;
      padding: 2px 8px;
      font-weight: 600;
      font-size: 18px;
      @media screen and (min-width: 800px) {
        width: 200px;
      }
    }
  }
  &__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  &__status{
    // background: #707070;
    // border-radius: 6px;
    // color: #d4d1d1;
    // padding: 4px 6px;
    // font-size: 14px;
    // font-weight: 600;
    &--adopted{
      color: #0011a8;
      background: #5a67d6;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      padding: 4px 6px;
    }
    &--progress{
      color: #777502;
      background: #f0ed5f;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      padding: 4px 6px;
    }
    &--prepared{
      color: #83063a;
      background: #f0619c;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      padding: 4px 6px;
    }
    &--delivery{
      color: #7e3000;
      background: #fa7e30;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      padding: 4px 6px;
    }
    &--done{
      color: #1f5a0d;
      background: #81ca6a;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      padding: 4px 6px;
    }
  }
}
.tables-view{
  position: absolute;
  z-index: 5;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // margin-left: 10px;
  border-radius: 12px;
  padding: 30px 0px;
  &__text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__row{
    display: flex;
  }
  &__center{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
  }
}
.table-item{
  // display: flex;
  // justify-content: center;
  // // width: 50px;
  height: 50px;
  // background-color: rgb(100, 49, 18);
  // border-radius: 10px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border-color: rgb(97, 51, 13);
  border-left: 2px solid rgb(97, 51, 13);
  border-right: 2px solid rgb(97, 51, 13);
  border-top: 4px solid rgb(97, 51, 13);
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  &__number{
    // background: #707070;
    // width: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    &--active{
      background: #7fe460;
    }
  }
}
.table-width{
  // width: 50%;
  height: 60px;
}
.table-quit{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.button-table-quit{
  background: white;
  border: none;
  border-radius: 10px;
  padding: 6px 50px;
  font-size: 18px;
  color: #FF3D3D;
  font-weight: 600;
  &--revert{
    background: #ff3d3d;
    color: white;
  }
  &:active{
    animation: gradient ease-in 100ms;
    background: #f88;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  &__disabled{
    pointer-events: none;
    opacity: 0.5;
  }
}
.image-test{
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 12px;
  color: #fc3030;
  font-size: 26px;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MonteCarlo', cursive;
  font-weight: 600;
}
.notification-direction-content{
  display: flex;
  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;
  }
}
.notification-content{
//  background: rgba(233, 231, 231, 0.452);
// 
background: linear-gradient(309deg, rgba(100,194,246,1) 0%, rgba(242, 82, 2, 0.644) 0%, rgba(224, 20, 40, 0.788) 100%); 
 margin: 10px;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 display: flex;
 padding: 10px 6px;
justify-content: space-between;
@media screen and (min-width: 800px) {
  padding: 20px 6px;
  margin: 10px;
}
&__right-corner{
   display: flex;
   justify-content: right;
   padding-right: 8px;
 }
 &__text{
   padding: 6px;
  //  color: black;
  //  color: #707070;
  color: white;
   font-weight: 500;
   font-size: 14px;
   text-align: center;
   @media screen and (min-width: 800px) {
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  //  margin-right: 8px;
 }
 &__time{
  //  color: #707070;
  color: white;
   font-weight: 300;
   font-size: 14px;
 }
 &__header{
   margin-top: 12px;
 }
}
.logout-admin{
  top: 2%;
  left: 80%;
  width: 60px;
  height: 60px;
  display: flex;
  cursor: pointer;
  border-radius:50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
  @media screen and (min-width: 800px) {
    top: 4%;
  }
}
.your-order-opacity{
  opacity: 0.2;
}
.loading-cook{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  width: 70%;
  height: 160px;
  @media screen and (min-width: 800px) {
    height: 190px;
    width: 50%;
  }
  &__item{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(90%);
    border-radius: 12px;
    height: 220px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex-direction: column;
    color: #e2a32b;
    font-size: 20px;
    @media screen and (min-width: 800px) {
      height: 190px;
    }
  }
  &__picture{
    width: 120px;
    height: 120px;
    animation: loading-cooking 3s infinite;
  }
}
//loading css
// .lds-roller {
//   display: inline-block;
//   position: relative;
//   width: 80px;
//   height: 80px;
// }
// .lds-roller div {
//   animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   transform-origin: 40px 40px;
// }
// .lds-roller div:after {
//   content: " ";
//   display: block;
//   position: absolute;
//   width: 7px;
//   height: 7px;
//   border-radius: 50%;
//   background: #fff;
//   margin: -4px 0 0 -4px;
// }
// .lds-roller div:nth-child(1) {
//   animation-delay: -0.036s;
// }
// .lds-roller div:nth-child(1):after {
//   top: 63px;
//   left: 63px;
// }
// .lds-roller div:nth-child(2) {
//   animation-delay: -0.072s;
// }
// .lds-roller div:nth-child(2):after {
//   top: 68px;
//   left: 56px;
// }
// .lds-roller div:nth-child(3) {
//   animation-delay: -0.108s;
// }
// .lds-roller div:nth-child(3):after {
//   top: 71px;
//   left: 48px;
// }
// .lds-roller div:nth-child(4) {
//   animation-delay: -0.144s;
// }
// .lds-roller div:nth-child(4):after {
//   top: 72px;
//   left: 40px;
// }
// .lds-roller div:nth-child(5) {
//   animation-delay: -0.18s;
// }
// .lds-roller div:nth-child(5):after {
//   top: 71px;
//   left: 32px;
// }
// .lds-roller div:nth-child(6) {
//   animation-delay: -0.216s;
// }
// .lds-roller div:nth-child(6):after {
//   top: 68px;
//   left: 24px;
// }
// .lds-roller div:nth-child(7) {
//   animation-delay: -0.252s;
// }
// .lds-roller div:nth-child(7):after {
//   top: 63px;
//   left: 17px;
// }
// .lds-roller div:nth-child(8) {
//   animation-delay: -0.288s;
// }
// .lds-roller div:nth-child(8):after {
//   top: 56px;
//   left: 12px;
// }
@keyframes loading-cooking {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 40deg);
  }
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 40deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, -40deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 40deg);
  }
  // 75% {
  //   -webkit-transform: rotate3d(0, 0, 1, 270deg);
  //   transform: rotate3d(0, 0, 1, 0deg);
  // }
  // 100% {
  //   -webkit-transform: rotate3d(0, 0, 1, 360deg);
  //   transform: rotate3d(0, 0, 1, 0deg);
  // }
}
@keyframes profile-height{
  0%{
    height: 50px;
    opacity: 0;
  }
  100%{
    height: 230px;
    opacity: 1;
  }
}

@keyframes order-height {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #f88 99%, #fff 100%, #fff 100%);
  }
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0 rgba(248, 248, 248, 0.452);    
	}
	50% {		
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}
}
@keyframes show-popup{
  0%{
    box-shadow:none;
  }
  100%{
    box-shadow: inset 5px 5px 10px #9c2525,
    inset -5px -5px 10px #fd4f4f;
  }
}
@keyframes show-settings{
  0%{
    width: 250px;
    opacity: 0;
  }
  100%{
    width: 340px;
    opacity: 1;
  }
}
@keyframes notify{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes heightHistory {
  0%{
    height: 0px;
  }
  100%{
    height: 350px;
  }
}

@keyframes ride {
  0%{
    left: 20%;
  }
  // 50%{
  //   left: 35%;
  // }
  100%{
    left: 30%;
  }
}

// loading
// @keyframes lds-roller {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
